.nav {
    grid-area: n;
    background-color: #95c57d;
}

a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
}

.item:hover {
    transform: scale(1.1);
}

.item a:active,
.item a:focus {
    color: gold;
}